{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/account_base.html" %}

{% load i18n %}

{% block account_subtitle %}{% trans "Social Logins" %}{% endblock %}

{% block content %}
<h5>{% trans "Social Logins" %}</h5>

<div class="actions mb-1">
    <a href="{% url 'user_update' %}">{% trans "Settings" %}</a>
</div>

{% if form.accounts %}
<p>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}
</p>


<form method="post"
      action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}

    <fieldset>
        {% if form.non_field_errors %}
        <div id="errorMsg">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for base_account in form.accounts %}
        {% with base_account.get_provider_account as account %}
        <div>
            <label for="id_account_{{ base_account.id }}"
                   class="form-label">
                <input id="id_account_{{ base_account.id }}"
                       type="radio"
                       name="account"
                       value="{{ base_account.id }}" />
                <span
                      class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                {{ account }}
            </label>
        </div>
        {% endwith %}
        {% endfor %}

        <div class="btn-group">
            <button type="submit"
                    class="btn btn-primary">{% trans 'Remove' %}</button>
        </div>

    </fieldset>

</form>

{% else %}
<p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
{% endif %}

<h4>{% trans 'Add a 3rd Party Account' %}</h4>

{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}