{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "account/base.html" %}
{% load i18n %}

{% block account_subtitle %}{% trans "Logout" %}{% endblock %}

{% block content %}
<div class="col-6 col-mx-auto col-sm-12 text-center">
  <h5>{% trans "Logout" %}</h5>

  <p>{% trans "Are you sure you want to log out?" %}</p>

  <form method="post"
        action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden"
           name="{{ redirect_field_name }}"
           value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-block btn-primary"
            type="submit">
      {% trans 'Logout' %}
    </button>
  </form>

</div>

{% endblock content %}