{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/account_base.html" %}

{% load i18n %}

{% block account_subtitle %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<h5>{% trans "Change Password" %}</h5>

<div class="actions mb-1">
  <a href="{% url 'user_update' %}">{% trans "Settings" %}</a>
</div>

<div class="col-6 col-md-12">
  {% url 'account_change_password' as change_password_url %}
  {% trans 'Change Password' as t_change_password %}
  {% include "includes/forms/form.html" with action=change_password_url submit_btn=t_change_password %}
</div>

{% endblock content %}