{% extends "account/base.html" %}

{% load i18n %}
{% block account_subtitle %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h5>{% trans "Change Password" %}</h5>
{% url 'account_login' as login_url %}
<p>{% blocktrans %}Your password has been changed. Please <a href="{{ login_url }}">log in</a> again using your new
    password.{% endblocktrans %}</p>
{% endblock %}