{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "account/base.html" %}
{% load i18n %}

{% block account_subtitle %}{% trans "Signup" %}{% endblock %}

{% block content %}

<h5>{% trans "Sign Up" %}</h5>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

{% url 'account_signup' as signup_url %}
{% trans "Sign Up" as t_signup %}
{% include "account/includes/signup_form.html" with action=signup_url submit_btn=t_signup %}
{% include "account/includes/social_logins.html" %}
{% endblock content %}