{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}
{% load i18n %}
{% load rules %}

{% block subtitle %} / {% trans "Polls" %} {% endblock %}

{% block content %}

<h5>{% trans "Polls" %}</h5>


<div class="actions mb-1">
  {% has_perm 'activities.create_activity' user community as can_create_activity %}
  {% if can_create_activity %}
  <a href="{% url 'polls:create' %}">
    {% trans "Submit Poll" %}
  </a>
  {% endif %}
  <a href="{% url 'photos:list' %}">{% trans "Posts" %}</a>
  <a href="{% url 'events:list' %}">{% trans "Events" %}</a>
  <a href="{% url 'photos:list' %}">{% trans "Photos" %}</a>
</div>


{% if paginator.count or view.search_query %}
{% include "includes/forms/search_form.html" with selector=True %}
{% endif %}

{% for object in object_list %}
<div class="activity-list-item">
  {% include "polls/includes/poll.html" with object_type="poll" %}
</div>
{% empty %}
{% include "includes/empty.html" %}
{% endfor %}


{% include "includes/pagination.html" %}
{% endblock content %}
