{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h5>{% trans "Request Invitation" %}</h5>
<p>{% trans "Your request will be sent to the site admins. If they approve your request, you will automatically become a member of this community." %}
</p>
{% include "includes/forms/stimulusjs_form.html" %}
{% endblock %}