{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "join_requests/base.html" %}

{% load i18n %}
{% load account %}
{% load activities_tags %}
{% load users_tags %}

{% block content %}

{% user_display object.sender as display_name %}

<h5>{% avatar object.sender "avatar-lg" %}{{ display_name }}</h5>

{% with is_pending=object.is_pending is_rejected=object.is_rejectd %}
<div class="actions mb-1 d-hide"
     data-controller="js-toggle">
  {% if is_pending or is_rejected %}
  <a data-controller="ajax confirm"
     data-action="confirm#check ajax#post"
     data-confirm-header="{% trans 'Accept' %}"
     data-confirm-body="{% trans 'Are you sure you want to accept this request?' %}"
     data-ajax-redirect="{{ request.get_full_path }}"
     href="{% url 'join_requests:accept' object.id %}">{% trans "Accept" %}
  </a>
  {% endif %}
  {% if is_pending %}
  <a data-controller="ajax confirm"
     data-action="confirm#check ajax#post"
     data-ajax-redirect="{{ request.get_full_path }}"
     data-confirm-header="{% trans 'Reject' %}"
     data-confirm-body="{% trans 'Are you sure you want to reject this request?' %}"
     href="{% url 'join_requests:reject' object.id %}">{% trans "Reject" %}</a>
  {% endif %}
  <a data-controller="ajax confirm"
     data-action="confirm#check ajax#post"
     data-confirm-header="{% trans 'Delete' %}"
     data-confirm-body="{% trans 'Are you sure you want to delete this request?' %}"
     href="{% url 'join_requests:delete' object.id %}">{% trans "Delete" %}</a>
</div>
{% endwith %}


<dl>
  <dt>{% trans "Status" %}</dt>
  <dd>{{ object.get_status_display }}</dd>
  <dt>{% trans "Requested" %}</dt>
  <dd>
    {% blocktrans with created=object.created|timesince %}{{ created }} ago{% endblocktrans %}
  </dd>
</dl>

{% if object.sender.bio %}
<h4>{% trans "About this person" %}</h4>
{% collapsable %}
<div class="markdown-content">
  {{ object.sender.bio.markdown|strip_external_images:user }}
</div>
{% endcollapsable %}
{% endif %}


{% if object.intro %}
<h5 class="mt-1">{% trans "Introduction" %}</h5>
{{ object.intro|linebreaks }}
{% endif %}

{% endblock content %}
