{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "communities/base.html" %}

{% load i18n %}
{% load account %}

{% block subtitle %} / {% trans "Memberships" %} / {% user_display membership.member %} /
{% trans "Edit" %}{% endblock %}

{% block content %}

{% user_display membership.member as display_name %}

<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'communities:membership_detail' membership.id %}">{{ display_name }}</a>
  </li>
  <li class="breadcrumb-item"><a href="#">Edit</a></li>
</ul>

<div class="col-6 col-sm-12">
  {% trans "Save Settings" as t_save_settings %}
  {% include "includes/forms/stimulusjs_form.html" with submit_btn=t_save_settings %}
</div>
{% endblock content %}
