{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "communities/base.html" %}

{% load i18n %}
{% load rules %}

{% block subtitle %} / {% trans "Memberships" %}{% endblock %}

{% block content %}

<h5>{% trans "Memberships" %}</h5>

<div class="actions mb-1">
  <a href="{% url 'invites:list' %}">{% trans "Invites" %}</a>
  <a href="{% url 'join_requests:list' %}">{% trans "Join Requests" %}</a>
</div>


{% if not view.search_query %}
<div class="my-2 toast text-center">
  {% blocktrans count counter=paginator.count %}
  This community has one member.
  {% plural %}
  This community has {{ counter }} members.
  {% endblocktrans %}
</div>
{% endif %}

{% include "includes/forms/search_form.html" with selector=True %}

{% if object_list %}
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>{% trans "Member" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{% trans "Role" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for member in object_list %}
    {% has_perm "communities.change_membership" user member as can_change %}
    {% has_perm "communities.delete_membership" user member as can_delete %}
    <tr>
      <td>
        {% url 'communities:membership_detail' member.id as membership_detail_url %}
        {% include "users/includes/chip.html" with profile=member.member profile_url=membership_detail_url %}
      </td>
      {% if member.active %}
      <td>{% trans "Active" %}</td>
      {% else %}
      <td class="text-gray">{% trans "Inactive" %}</td>
      {% endif %}
      <td {% if not member.active %}
          class="text-gray"
          {% endif %}>{{ member.get_role_display }}</td>
      <td>
        {% include "communities/includes/membership_actions.html" %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock content %}
