{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/account_base.html" %}
{% load i18n %}

{% block content %}
<form method="POST"
      action="{{ request.path }}">
  {% csrf_token %}
  <p>
    {% blocktrans with community_name=community.name %}
    Please confirm you want to leave the community <b>{{ community_name }}</b>. Your posts and comments will not be
    deleted until you delete your
    account.
    {% endblocktrans %}
  </p>
  <a class="btn btn-secondary"
     href="{{ user.get_absolute_url }}">{% trans "Cancel" %}</a>
  <button class="btn btn-primary"
          type="submit">
    {% blocktrans with community_name=community.name %}
    Leave {{ community_name }}
    {% endblocktrans %}
  </button>
</form>

{% endblock content %}