{% extends "no_sidebar_base.html" %}
{% load i18n %}

{% block content %}
<div class="col-6 col-sm-12 col-mx-auto">
  <div class="empty">
    <h5 class="empty-title">{% trans "Community Not Found" %}</h5>
    <p>
      {% trans "No community found for this domain" %}
    </p>
  </div>
</div>
{% endblock %}
