{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}

{% load i18n %}
{% load communities_tags %}

{% block content %}

{% if community.intro %}
{{ community.intro.markdown }}
{% endif %}

<p>
  {% if invite %}
  {% url 'invites:accept' invite.id as invite_url %}
  {% blocktrans %}
  You have a pending invite. Please go <a href="{{ invite_url }}">here</a> to accept or reject your invite.
  {% endblocktrans %}
  {% elif join_request %}
  {% if join_request.is_pending %}
  <strong>
    {% blocktrans %}
    Your request for an invite has been sent to the community admins. You will receive an email when they have made
    their decision.
    {% endblocktrans %}
  </strong>
  {% endif %}

  {% elif community.allow_join_requests %}

  {% url 'join_requests:create' as join_request_url %}
  {% blocktrans %}
  You are not a member of this community. You can request an invite <a href="{{ join_request_url }}">here</a>.
  {% endblocktrans %}

  {% else %}
  <b>
    {% blocktrans %}
    This community is locked and new members are accepted only by private invitation.
    {% endblocktrans %}
  </b>
  {% endif %}
</p>

{% get_visible_community_count user as communities_count %}
{% if communities_count > 1 %}
<p>
  {% url 'community_list' as community_list_url %}
  {% blocktrans %}
  You can find other communities in the <a href="{{ community_list_url }}">Communities</a>.
  {% endblocktrans %}
</p>
{% endif %}
{% endblock %}