{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load account %}
{% load activities_tags %}

<div class="card mb-2{% if is_sender %} bg-gray{% endif %} message"
     id="message-{{ message.id }}">
  <div class="card-header">
    <div class="card-subtitle h6 {% if is_unread %}text-bold{% endif %}">
      {% include "users/includes/chip.html" with profile=message.sender profile_url=sender_url %}
      <span class="timesince">
        {% trans "to" %}
      </span>
      {% include "users/includes/chip.html" with profile=message.recipient profile_url=recipient_url %}
      <span class="timesince">
        {% blocktrans with created=message.created|timesince %}
        {{ created }} ago
        {% endblocktrans %}
      </span>
      {% if is_unread %}
      <div class="chip bg-primary">{% trans "New" %}</div>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    {% collapsable is_detail %}
    <div class="markdown-content mt-1">
      {{ message.message.markdown|strip_external_images:user }}
    </div>
    {% endcollapsable %}
  </div>
  <div class="card-footer">
    <div class="d-flex align-center mt-1">
      <div class="dropdown mr-2"
           data-controller="toggle">
        <a class="btn btn-sm dropdown-toggle"
           tabindex="0">
          {% trans "Actions" %}<i class="icon icon-caret"></i>
        </a>
        <ul class="menu">
          {% if is_recipient and not message.read %}
          <li class="menu-item">
            <a href="{% url 'private_messages:message_mark_read' message.id %}"
               class="d-hide"
               data-controller="js-toggle ajax"
               data-action="ajax#post"
               data-ajax-redirect="{{ request.get_full_path }}">{% trans "Mark As Read" %}</a>
          </li>
          {% endif %}

          <li class="menu-item">
            <a href="{% url 'private_messages:message_bookmark' message.id %}"
               {% if message.has_bookmarked %}
               class="d-hide"
               data-js-toggle-ignore
               {% endif %}
               data-controller="js-toggle ajax"
               data-target="toggle.togglable"
               data-toggle-target="bookmark"
               data-ajax-redirect="none"
               data-action="ajax#post toggle#toggle">{% trans "Bookmark" %}</a>
            <a href="{% url 'private_messages:message_remove_bookmark' message.id %}"
               {% if not message.has_bookmarked %}
               class="d-hide"
               data-js-toggle-ignore
               {% endif %}
               data-controller="js-toggle ajax"
               data-target="toggle.togglable"
               data-toggle-target="bookmark"
               data-ajax-redirect="none"
               data-action="ajax#post toggle#toggle"><s>{% trans "Bookmark" %}</s></a>
          </li>

          {% if can_reply %}
          <li class="menu-item">
            <a href="{% url 'private_messages:message_reply' message.id %}">
              {% trans "Reply" %}
            </a>
          </li>
          {% elif can_follow_up %}
          <li class="menu-item">
            <a href="{% url 'private_messages:message_follow_up' message.id %}">
              {% trans "Follow-Up" %}
            </a>
          </li>
          {% endif %}
          <li class="menu-item">
            <a href="{% url 'private_messages:message_delete' message.id %}"
               data-controller="ajax confirm"
               data-action="confirm#check ajax#post"
               data-ajax-redirect="{{ post_delete_redirect|default:request.get_full_path }}"
               data-confirm-header="{% trans 'Delete Message' %}"
               data-confirm-body="{% trans "Are you sure you want to delete this message? Replies to this message will not be deleted. The message may still be available to the other person." %}">{% trans "Delete" %}</a>

          </li>
        </ul>
      </div>
      {% if not is_detail %}
      <div class="actions">
        <a href="{{ message_url }}">{% trans "Link" %}</a>
        {% if parent %}
        <a href="{{ parent_url }}">{% trans "Parent" %}</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
