{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% if verb == "reply" %}
{% blocktrans %}
{{ actor_display }} has replied to your <a href="{{ object_url }}">message</a>.
{% endblocktrans %}
{% elif verb == "follow_up" %}
{% blocktrans %}
{{ actor_display }} has sent you a <a href="{{ object_url }}">follow-up</a> to one of their messages.
{% endblocktrans %}
{% else %}
{% blocktrans %}
{{ actor_display }} has sent you a <a href="{{ object_url }}">message</a>.
{% endblocktrans %}
{% endif %}
