{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block subtitle %} / {% trans "Favorites" %}{% endblock %}

{% block content %}

<h5>{% trans "Favorites" %}</h5>

<ul class="tab tab-block">
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'likes:activities' %}">{% trans "Activities" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'likes:comments' %}">{% trans "Comments" %}</a>
  </li>
</ul>
{% block likes_content %}{% endblock %}
{% endblock content %}
