{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/includes/actions.html" %}

{% load i18n %}

{% block extra_actions %}
<li class="menu-item">
  <a href="{{ object.image.url }}"
     download>
    {% trans "Download" %}
  </a>
</li>
{% endblock %}
