{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/activity_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load activities_tags %}

{% block content %}
{% thumbnail object.image "800" as image %}
<div>
  <a href="{{ object.get_absolute_url }}">
    <img class="img-responsive"
         src="{{ image.url }}"
         width="{{ image.width }}"
         height="{{ image.height }}"
         alt="{{ object.title }}">
  </a>
</div>
{% empty %}
<em>{% trans "No photo available" %}</em>
{% endthumbnail %}

{% include "activities/includes/description.html" %}

{% if object.has_attribution %}
<dl>
  {% if object.artist %}
  <dt>{% trans "Artist" %}</dt>
  <dd>{{ object.artist }}</dd>
  {% endif %}
  {% if object.original_url %}
  <dt>{% trans "Original URL" %}</dt>
  <dd>{{ object.original_url|linkify }}</dd>
  {% endif %}
  {% if object.cc_license %}
  <dt>{% trans "Creative Commons License" %}</dt>
  <dd>{{ object.get_cc_license_display }}</dd>
  {% endif %}
</dl>
{% endif %}

{% if object.has_map %}
<div id="map-for-event-{{ object.id }}"
     class="osm-map osm-map-lg my-2"
     data-controller="map"
     data-map-latitude="{{ object.latitude }}"
     data-map-longitude="{{ object.longitude }}"></div>
{% endif %}
{% endblock content %}

{% block actions %}{% include "photos/includes/actions.html" %}{% endblock %}