{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "notifications/emails/base.html" %}
{% load i18n %}

{% block notification_body %}
<p>
    {% blocktrans %}
    {{ actor_display }} has deleted your <a href="{{ absolute_url }}">comment</a>:
    {% endblocktrans %}
</p>
<p>
    {{ object.content }}
</p>
<p>
    {% blocktrans %}
    You can still view your comment and delete it completely.
    {% endblocktrans %}
</p>
{% endblock notification_body %}