{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% if flags %}
<h6 class="mt-2">{% trans "Flags" %}</h6>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>{% trans "Time" %}</th>
      <th>{% trans "Flagged By" %}</th>
      <th>{% trans "Reason" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for flag in flags %}
    <tr>
      <td>
        <span class="timesince">{{ flag.created|timesince }} {% trans "ago" %}</span>
      </td>
      <td>
        {% include "users/includes/chip.html" with profile=flag.user %}
      </td>
      <td>{{ flag.get_reason_display }}</td>
      <td class="hide"
          data-controller="js-toggle">
        <div class="actions">
          <a href="{% url 'flags:delete' flag.id %}"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Delete" %}</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}