main {
  min-height: 800px;
  @extend .text-dark;
}

header {
  a {
    @extend .text-light;
  }
}

footer {
  font-size: small;

  a {
    @extend .text-light;
    text-decoration: underline;
  }
}

a {
  color: $link-color-dark;

  &:visited {
    color: $link-color-dark;
  }

  &[target='_blank']:visited {
    color: $link-color-visited;
  }
}

aside {
  .menu-item a {
    font-size: small;
  }
}

//.table,
.breadcrumb-item,
.tab-item {
  font-size: small;
}

.pagination {
  margin-left: 0;
  padding-left: 0;

  .page-item {
    margin-left: 0;
    padding-left: 0;

    a {
      font-size: small;
    }
  }

}


.actions {
  font-size: small;
  flex-wrap: wrap;

  a {
    &:not(:last-child) {
      @extend .mr-1;
    }

    &:not(:first-child) {
      @extend .ml-1;
    }

    color: $link-color-dark;

    @extend .btn-link;

    &:visited {
      color: $link-color-dark;
    }
  }
}

.activity-list-item {
  @extend .mt-2;
}

.align-center {
  align-items: center;
}

.bg-light {
  background-color: $light-color;
}

form:not(.search-form) {
  @extend .bg-light;
  @extend .p-2;
  border: 1pt solid;
  border-color: $border-color-dark;
}

table {
  @extend .bg-light;
  border: 0.5pt solid;
  border-color: $border-color-dark;
}

.btn {
  color: $dark-color;
  border-color: $border-color-dark;

  &.btn-link {
    color: $dark-color;
  }

  &:visited {
    color: $dark-color;
  }
}

.chip a {
  color: $dark-color;
}

.conversation-input {
  height: 2rem;
}

.divider,
.divider-vert {
  color: $dark-color;

  &[data-content]::after {
    color: $dark-color;
  }

  &[data-content] {
    font-weight: bold;
  }
}

.osm-map {
  height: $map-height;

  &-lg {
    height: $map-height * 2;
  }
}

.form-label {
  font-weight: bold;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::placeholder {
    color: $gray-color-dark;
  }

  &.bg-dark {
    &::placeholder {
      color: $light-color;
    }
  }
}


.info {
  color: $gray-color-dark;
  @extend .mr-1;
  font-size: small;
  display: inline-block;
}

.form-input {
  &:not(:placeholder-shown) {
    &:invalid {
      border-color: $border-color-dark;
    }
  }
}

.menu-item {
  a {
    color: $dark-color;

    @media (min-width: $size-lg) {
      font-size: $font-size-sm;
    }
  }

  &.selected {
    @extend .bg-secondary;
  }
}

.collapsable {
  cursor: pointer;
  overflow: hidden;
  max-height: 300px;
  width: auto;
  z-index: 20;
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.3)));
  mask-image: gradient(top bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.3)));

  * {
    pointer-events: none;
  }
}

.opengraph {
  img {
    width: 99%;
    height: auto;
  }

  &-image-link {
    &:focus {
      box-shadow: none;
    }
  }
}

.markdown-content {
  word-wrap: break-word;

  img {
    @extend .img-responsive;
  }

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.markdownx {
  .tab-pane {
    min-height: 280px;
  }
}

.navbar a {
  color: $dark-color;
}

.activity-title {
  @extend .h6;

}

.float-left-responsive {
  @media (min-width: $size-lg) {
    float: left !important;
  }
}

.float-right-responsive {
  @media (min-width: $size-lg) {
    float: right !important;

    .dropdown {
      .menu {
        left: auto;
        right: 0;
      }
    }
  }
}

.table-responsive {
  @media (max-width: $size-md) {
    thead {
      display: none;
    }

    td {
      display: flex;
      flex-direction: row;

      &:first-child {
        background: $bg-color-dark;
      }
    }
  }
}

// stack tabs in mobile
.tab {
  border-bottom: none;

  &-block {
    border-top: 0.05rem solid $gray-color;
    margin: 0 $unit-1 0 0;
    padding: $unit-1 $unit-1 $unit-1 - $border-width $unit-1;
  }
}

.timesince {
  color: $gray-color-dark;
  font-size: small;
}

.toast {
  .chip {
    background: $dark-color;
  }

  a {
    color: $light-color;
  }

}

.wordwrap {
  word-wrap: break-word;
}

.poll-answers {
  margin: 0;
}

.card {

  .card-header,
  .card-body,
  .card-footer {
    padding: $layout-spacing;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: $layout-spacing-lg;
    }
  }

}

.modal-container {
  @extend .text-dark;
}

.empty {
  border: 0.03rem solid $gray-color-dark;
}
