.darkmode {
  main {
    @extend .text-gray;
  }

  .text-dark {
    color: $gray-color;
  }

  .chip {
    background: $dark-color;

    a,
    a:visited {
      color: $darkmode-link;
    }
  }

  .modal {
    &-container {
      color: $darkmode-text;
      background-color: $darkmode-darker;
      border: 0.03rem solid $gray-color-dark;
    }

    &-title {
      color: $darkmode-text;
    }

    &-body {
      color: $darkmode-text;
    }

    &.active .modal-overlay {
      background: rgba($darkmode-lighter, 0.85);
    }
  }

  blockquote {
    border-left: $border-width-lg solid $gray-color-dark;
  }

  code {
    background-color: $darkmode-lighter;
  }

  a {
    color: $darkmode-link;

    &:visited {
      color: $darkmode-link;
    }
  }

  a[target='_blank']:visited {
    color: $darkmode-link-visited;
  }

  .dropdown-toggle,
  .btn-block,
  .btn-secondary {
    background-color: $darkmode-lighter;
    border-color: $gray-color-dark;
    color: $darkmode-link;
  }

  .btn-action,
  .btn-link {
    color: $darkmode-link;
  }

  .navbar .btn {
    background-color: inherit;
    border: none;
  }

  .input-group {
    .input-group-addon {
      background: $darkmode-lighter;
    }
  }

  .input-group-btn {
    background-color: inherit;
    border-color: $gray-color-dark;
    color: $darkmode-text;
  }

  .calendar {
    border-color: $gray-color-dark;

    &-header,
    &-nav {
      border-color: $gray-color-dark;
      background-color: $darkmode-lighter;
      color: $darkmode-text;
    }

    .calendar-date {

      .date-item:focus,
      .date-item:hover {
        background: transparent;
      }
    }
  }

  .actions a {
    color: $darkmode-link;
    background-color: inherit;
  }

  .empty {
    background-color: $darkmode-darker;
  }

  .bg-gray {
    background-color: $darkmode-darker !important;
  }

  .bg-light {
    background-color: $darkmode-darker;
  }

  form:not(.search-form) {
    border-color: $gray-color-dark;
  }


  .form-input,
  .form-select {
    background-color: $darkmode-darker;
    color: $darkmode-text;
    border-color: $gray-color-dark;

    &::placeholder {
      background-color: $darkmode-darker;
      color: $darkmode-text;
    }

    &:not(:placeholder-shown) {
      &:invalid {
        border-color: $gray-color-dark;
      }
    }

    &:not(:placeholder-shown):invalid:focus {
      background-color: $darkmode-darker;
    }
  }

  .form-select:not([multiple]):not([size]) {
    background-color: $darkmode-darker;
  }

  .card {
    background-color: $darkmode-darker;
    border-color: $gray-color-dark;
  }

  .toast {
    .chip {
      background: $darkmode-lighter;
    }

    a {
      color: $light-color;
    }
  }


  .menu {
    background-color: $darkmode-lighter;

    .menu-item {
      &.selected {
        background-color: $darkmode-darker !important;
      }

      a {
        color: $darkmode-link;

        &.active,
        &:active,
        &:hover,
        &:focus,
        &:visited {
          background-color: $darkmode-darker;
        }

        &.active,
        &:active,
        &:hover,
        &:focus {
          color: $gray-color;
        }
      }
    }
  }

  .input-group-addon {
    background-color: $darkmode-lighter;
    border-color: $gray-color-dark;
  }

  .badge {

    &[data-badge],
    &:not([data-badge]) {
      &::after {
        background: $link-color-dark;
      }
    }
  }

  .divider,
  .divider-vert {
    &[data-content]::after {
      background: $darkmode-lighter;
      color: $gray-color;
    }

    border-top: $border-width solid $gray-color-dark;
  }

  table,
  td,
  th,
  tr {
    border-color: $gray-color-dark;
  }

  .table.table-hover tbody {
    tr:hover {
      background-color: $darkmode-lighter;
    }
  }

  .table-responsive {
    @media (max-width: $size-md) {
      td {
        &:first-child {
          background: $dark-color;
        }
      }
    }
  }

  .tab {
    border-color: $gray-color-dark;

    &-block {
      border-top: 0.05rem solid $gray-color-dark;
    }

    &-item.active a {
      color: $gray-color;
      // border-color: $gray-color;
    }
  }

  .collapsable {
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(12, 12, 13, 1)), to(rgba(12, 12, 13, 0.3)));
    mask-image: gradient(top bottom, from(rgba(12, 12, 13, 1)), to(rgba(12, 12, 13, 0.3)));
  }


}
