{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div data-controller="collapsable">
  <div data-target="collapsable.container"
       data-action="click->collapsable#toggle">
    {{ collapsable_content }}
  </div>
  <div class="text-center d-hide"
       data-target="collapsable.toggle">
    <button class="mt-1 btn btn-link btn-sm"
            data-action="collapsable#toggle"
            href="#">{% trans "Show More" %}</button>
  </div>
</div>