{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div class="modal"
     id="confirm-dialog"
     data-controller="confirm-dialog">
  <a href="#"
     class="modal-overlay"
     aria-label="{% trans 'Close' %}"
     data-action="confirm-dialog#cancel"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#"
         class="btn btn-clear float-right"
         aria-label="{% trans 'Close' %}"
         data-action="confirm-dialog#cancel"></a>
      <div class="modal-title h5"
           data-target="confirm-dialog.header"></div>
    </div>
    <div class="modal-body">
      <div class="content"
           data-target="confirm-dialog.body"></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link"
              data-action="confirm-dialog#cancel">{% trans "Cancel" %}</button>
      <button class="btn btn-primary"
              data-action="confirm-dialog#confirm">{% trans "Confirm" %}</button>
    </div>
  </div>
</div>