{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load rules %}
{% load communities_tags %}
{% load flags_tags %}

{% get_visible_community_count user as communities_count %}
{% test_rule "communities.is_member" user community as is_member %}

{% if is_member %}

{% has_perm "activities.create_activity" user community as can_create_activity %}
{% has_perm "communities.moderate_community" user community as can_moderate_community %}
{% has_perm "communities.manage_community" user community as can_manage_community %}

<ul class="menu">
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{{ home_page_url }}">{% trans "Activities" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'private_messages:inbox' %}"
       {% if unread_messages_count %}
       class="badge"
       id="sidebar-messages-counter"
       data-badge="{{ unread_messages_count }}"
       {% endif %}>
      {% trans "Messages" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'notifications:list' %}"
       {% if unread_notifications_count %}
       class="badge"
       id="sidebar-notifications-counter"
       data-badge="{{ unread_notifications_count }}"
       {% endif %}>
      {% trans "Notifications" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'comments:list' %}">{% trans "Comments" %}
    </a>
  </li>
  {% if drafts_count %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'activities:drafts' %}"
       class="badge"
       data-badge="{{ drafts_count }}">{% trans "Drafts" %}
    </a>
  </li>
  {% endif %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'bookmarks:activities' %}">
      {% trans "Bookmarks" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'likes:activities' %}">
      {% trans "Favorites" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'activities:timeline' %}">{% trans "Timeline" %}
    </a>
  </li>
  {% if communities_count > 1 %}
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'community_list' %}"
       {% with total_external_notifications=unread_external_notifications_count|add:unread_external_messages_count|add:pending_external_join_requests_count|add:external_drafts_count|add:external_flags_count %}
       {% if total_external_notifications %}
       class="badge"
       data-badge="{{ total_external_notifications }}"
       {% endif %}>
      {% trans "Communities" %}
      {% endwith %}
    </a>
  </li>
  {% endif %}

  <li class="menu-item">
    <a data-controller="active-link"
       href="{{ user.get_absolute_url }}">{% trans "My Profile" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'user_update' %}">{% trans "Settings" %}</a>
  </li>
  <li class="menu-item">
    {% include "includes/mode_toggle.html" %}
  </li>

  <li class="menu-item show-lg">
    <a href="{% url 'account_logout' %}"
       data-controller="ajax"
       data-action="ajax#post"
       data-ajax-redirect="{{ home_page_url }}">{% trans "Logout" %}</a>
  </li>
</ul>

{% if can_create_activity %}
<ul class="menu mt-2">
  <li class="divider"
      data-content="{% trans 'Actions' %}"></li>
  {% if can_create_activity %}
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'posts:create' %}">{% trans "Submit Post" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'events:create' %}">{% trans "Submit Event" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'photos:create' %}">{% trans "Submit Photo" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'polls:create' %}">{% trans "Submit Poll" %}</a>
  </li>
  {% endif %}
</ul>
{% endif %}

<ul class="menu mt-2">
  <li class="divider"
      data-content="{% trans 'People' %}"></li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'users:member_list' %}">
      {% trans "Members" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'users:following_list' %}">
      {% trans "Following" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'users:follower_list' %}">
      {% trans "Followers" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'users:blocked_list' %}">
      {% trans "Blocked" %}
    </a>
  </li>
</ul>

<ul class="menu mt-2">
  {% if flags_count %}
  <li class="menu-item">
    <a href="{% url 'flags:list' %}"
       class="badge"
       data-badge="{{ flags_count }}">
      {% trans "Flagged" %}
    </a>
  </li>
  {% endif %}
  <li class="divider"
      data-content="{% trans 'Content' %}"></li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'activities:tag_list' %}">
      {% trans "Tags" %}
    </a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'posts:list' %}">{% trans "Posts" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'events:list' %}">{% trans "Events" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'photos:list' %}">{% trans "Photos" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'polls:list' %}">{% trans "Polls" %}</a>
  </li>
</ul>

{% if can_manage_community or community.terms or community.description %}
<ul class="menu mt-2">
  <li class="divider"
      data-content="{% trans 'Community' %}"></li>
  </li>
  {% if community.description %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'communities:community_detail' %}">
      {% blocktrans with community_name=community.name %}
      About {{ community_name }}
      {% endblocktrans %}
    </a>
  </li>
  {% endif %}
  {% if community.terms %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'communities:community_terms' %}">
      {% trans "Terms" %}
    </a>
  </li>
  {% endif %}
  {% if can_manage_community %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'communities:community_update' %}">{% trans "Community Settings" %}</a>
  </li>
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</a>
  </li>
  {% endif %}
  {% if can_manage_community %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'join_requests:list' %}"
       {% if pending_join_requests_count %}
       class="badge"
       data-badge="{{ pending_join_requests_count }}"
       {% endif %}>
      {% trans "Join Requests" %}
    </a>
  </li>
  {% elif sent_join_requests_count %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'join_requests:sent_list' %}">
      {% trans "Join Requests" %}
    </a>
  </li>
  {% endif %}
  {% if can_manage_community %}
  <li class="menu-item">
    <a data-controller="active-link"
       {% if pending_invites_count %}
       class="badge"
       data-badge="{{ pending_invites_count }}"
       {% endif %}
       href="{% url 'invites:list' %}">{% trans "Invites" %}</a>
  </li>
  {% elif pending_invites_count %}
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       class="badge"
       data-badge="{{ pending_invites_count }}"
       href="{% url 'invites:received_list' %}">
      {% trans "Invites" %}
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}

{% else %}
<ul class="menu">
  {% if community.active %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'community_welcome' %}">
      {{ community.name }}
    </a>
  </li>
  {% endif %}

  {% if sent_join_requests_count %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'join_requests:sent_list' %}">
      {% trans "Join Requests" %}
    </a>
  </li>
  {% endif %}

  {% if pending_invites_count %}
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       class="badge"
       data-badge="{{ pending_invites_count }}"
       href="{% url 'invites:received_list' %}">
      {% trans "Invites" %}
    </a>
  </li>
  {% endif %}
  {% if communities_count > 1 %}
  <li class="menu-item">
    <a data-controller="active-link"
       data-active-link-exact
       href="{% url 'community_list' %}"
       {% with total_external_notifications=unread_external_notifications_count|add:unread_external_messages_count|add:pending_external_join_requests_count|add:external_drafts_count|add:external_flags_count %}
       {% if total_external_notifications %}
       class="badge"
       data-badge="{{ total_external_notifications }}"
       {% endif %}>
      {% trans "Communities" %}
      {% endwith %}
    </a>
  </li>
  {% endif %}
  <li class="menu-item">
    <a data-controller="active-link"
       href="{% url 'user_update' %}">{% trans "Settings" %}</a>
  </li>
  <li class="menu-item">
    {% include "includes/mode_toggle.html" %}
  </li>
</ul>
{% endif %}
