{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "emails/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
<div>
{% user_display comment.owner as owner %}{% blocktrans %}Hi {{ owner }},{% endblocktrans %}
</div>
<div>
{% trans "The following comment was deleted by a moderator" %}
</div>

<div>
{{ comment.content }}
</div>
{% endblock %}
