{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div class="markdownx tabs"
     data-controller="tabs typeahead"
     data-typeahead-mention-search-url="{% url 'users:autocomplete_list' %}"
     data-typeahead-tag-search-url="{% url 'activities:tag_autocomplete_list' %}">
  <ul class="tab d-hide"
      data-controller="js-toggle">
    <li class="tab-item active"
        data-target="tabs.tab"
        data-tab="editor">
      <a href="#"
         data-action="tabs#select"
         data-tab="editor">{% trans "Edit" %}</a>
    </li>
    <li class="tab-item"
        data-target="tabs.tab"
        data-tab="preview">
      <a href="#"
         data-action="tabs#select"
         data-tab="preview">{% trans "Preview" %}</a>
    </li>
    <li class="tab-item"
        data-target="tabs.tab"
        data-tab="guide">
      <a href="#"
         data-action="tabs#select"
         data-tab="guide">{% trans "Markdown Guide" %}</a>
    </li>
  </ul>
  <div class="tab-pane"
       data-target="tabs.pane"
       data-tab="editor"
       data-controller="markdown">
    <div class="actions my-1 d-hide"
         data-controller="js-toggle">

      <a href="#"
         data-action="markdown#select"
         data-markdown="**[SELECTION]**">{% trans "Bold" %}</a>

      <a href="#"
         data-action="markdown#select"
         data-markdown="_[SELECTION]_">{% trans "Italic" %}</a>

      <a href="#"
         data-action="markdown#select"
         data-markdown="[[SELECTION]](url)">{% trans "Link" %}</a>

      <a href="#"
         data-action="markdown#select"
         data-markdown="![]([SELECTION])">{% trans "Image" %}</a>

      <a href="#"
         data-action="markdown#select"
         data-markdown="> [SELECTION]">{% trans "Quote" %}</a>

      <a href="#"
         data-action="markdown#select"
         data-markdown="`[SELECTION]`">{% trans "Code" %}</a>

      <a href="#"
         data-action="markdown#select"
         data-multiline
         data-markdown="* [SELECTION]">{% trans "List (Bullets)" %}</a>

      <a href="#"
         data-action="markdown#select"
         data-multiline
         data-markdown="1. [SELECTION]">{% trans "List (Numbers)" %}</a>

    </div>
    <ul class="menu d-hide p-absolute"
        data-target="typeahead.selector"></ul>
    <textarea data-target="markdown.textarea typeahead.input"
              data-action="keyup->typeahead#keyup keydown->typeahead#keydown"
              name="{{ widget.name }}"
              {% include "django/forms/widgets/attrs.html" %}>{% spaceless %}{% if widget.value %}{{ widget.value }}{% endif %}{% endspaceless %}</textarea>
    <p>
      <small>
        You can use <a target="_blank"
           rel="nofollow"
           href="https://www.markdownguide.org/basic-syntax">Markdown</a> to format your content.
      </small>
    </p>
  </div>
  <div class="tab-pane d-none markdownx-preview markdown-content"
       data-target="tabs.pane"
       data-tab="preview"></div>
  <div class="tab-pane d-none"
       data-target="tabs.pane"
       data-tab="guide">
    <table class="table table-hover table-responsive">
      <tbody>
        <tr>
          <td># Header</td>
          <td>
            <h1>{% trans "Header (h1)" %}</h1>
          </td>
        </tr>
        <tr>
          <td>## Header</td>
          <td>
            <h2>{% trans "Header (h2)" %}</h2>
          </td>
        </tr>
        <tr>
          <td>### Header</td>
          <td>
            <h5>{% trans "Header (h3)" %}</h5>
          </td>
        </tr>
        <tr>
          <td>*Bold*</td>
          <td><strong>{% trans "Bold" %}</strong></td>
        </tr>
        <tr>
          <td>_Italic_</td>
          <td><em>{% trans "Italic" %}</em></td>
        </tr>
        <tr>
          <td>[Link text](http://example.com)</td>
          <td><a href="#">{% trans "Link" %}</a></td>
        </tr>
        <tr>
          <td>![alt](https://example.com)</td>
          <td>
            {% trans "Image" %}
            <br>
            <b>{% trans "Note: only safe images (starting with https://) will be shown." %}</b>
          </td>
        </tr>
        <tr>
          <td>@mention</td>
          <td><a href="#">@mention</a> {% trans "(link to profile)" %}</td>
        </tr>
        <tr>
          <td>#hashtag</td>
          <td><a href="#">#hashtag</a> {% trans "(link to hashtag)" %}</td>
        </tr>
        <tr>
          <td>`Code`</td>
          <td><code>{% trans "Code" %}</code></td>
        </tr>
        <tr>
          <td>&gt; Quote</td>
          <td>
            <blockquote>{% trans "Quote" %}</blockquote>
          </td>
        </tr>
        <tr>
          <td>
            * List item 1 <br>
            * List item 2
          </td>
          <td>
            <ul>
              <li>List item 1</li>
              <li>List item 2</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            1. List item 1 <br>
            1. List item 2
          </td>
          <td>
            <ol>
              <li>List item 1</li>
              <li>List item 2</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {% blocktrans %}
            A more complete guide can be found <a target="_blank"
               rel="nofollow"
               href="https://www.markdownguide.org/basic-syntax">here</a>.
            {% endblocktrans %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>