{% extends "invites/base.html" %}
{% load i18n %}


{% block content %}

<h5>Invite a new member</h5>
<div class="col-6 col-sm-12">
  {% trans "Send Invite" as t_send_invite %}
  {% include "includes/forms/stimulusjs_form.html" with submit_btn=t_send_invite %}
</div>
{% endblock content %}
