{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/activity_base.html" %}

{% load i18n %}

{% load tz %}
{% load activities_tags %}

{% block content %}
{% with user|is_oembed_url:object.url as is_oembed %}
{% include "activities/includes/oembed.html" %}
{% endwith %}
{% include "activities/includes/description.html" %}
<dl>

  {% timezone object.timezone %}
  {% if object.ends %}

  {% with start_date=object.starts|date:"DATE_FORMAT" end_date=object.ends|date:"DATE_FORMAT" start_time=object.starts|date:"TIME_FORMAT" end_time=object.ends|date:"TIME_FORMAT" %}
  {% if start_date == end_date %}
  <dt>{% trans "Date" %} <span class="chip">{{ object.timezone }}</span></dt>
  <dd>{{ start_date }} @ {{ start_time }} - {{ end_time }}</dd>
  {% else %}
  <dt>{% trans "Dates" %} <span class="chip">{{ object.timezone }}</span></dt>
  <dd>{{ start_date }} @ {{ start_time }} - {{ end_date }} @ {{ end_time }}</dd>
  {% endif %}
  {% endwith %}

  {% else %}
  <dt>{% trans "Date" %} <span class="chip">{{ object.timezone }}</span></dt>
  <dd>
    {{ object.starts|date:"DATE_FORMAT" }} @ {{ object.starts|date:"TIME_FORMAT" }}
  </dd>
  {% endif %}
  {% endtimezone %}

  <dt>{% trans "Location" %}</dt>
  <dd>
    {% with location=object.full_location %}
    {% if location %}
    {{ location }}
    {% else %}
    {% trans "Online" %}
    {% endif %}
    {% endwith %}
  </dd>

  {% if object.ticket_price %}
  <dt>{% trans "Admission" %}</dt>
  <dd>{{ object.ticket_price }}</dd>
  {% endif %}

  {% if object.ticket_vendor %}
  <dt>{% trans "Tickets available from" %}</dt>
  <dd>{{ object.ticket_vendor|linebreaksbr }}</dd>
  {% endif %}

</dl>
{% if object.has_map %}
<div id="map-for-event-{{ object.id }}"
     class="osm-map osm-map-lg mt-1"
     data-controller="map"
     data-map-latitude="{{ object.latitude }}"
     data-map-longitude="{{ object.longitude }}"></div>
{% endif %}
{% endblock content %}

{% block actions %}{% include "events/includes/actions.html" %}{% endblock %}