{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block subtitle %} / {% trans "Bookmarks" %}{% endblock %}

{% block content %}

<h5>{% trans "Bookmarks" %}</h5>

<ul class="tab tab-block">
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'bookmarks:activities' %}">{% trans "Activities" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'bookmarks:messages' %}">{% trans "Messages" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'bookmarks:comments' %}">{% trans "Comments" %}</a>
  </li>
</ul>
{% block bookmarks_content %}{% endblock %}
{% endblock content %}
