{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load account %}
{% load rules %}
{% load activities_tags %}

<article class="card"
         role="comment"
         id="comment-{{ comment.id }}">
  <div class="card-header">
    {% if with_activity %}
    <div class="card-title h6">
      {% with content_object=comment.content_object %}
      {% if content_object and not content_object.deleted %}
      <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
      {% else %}
      {% trans "[Deleted]" %}
      {% endif %}
      {% endwith %}
    </div>
    {% endif %}
    {% has_perm "communities.moderate_community" user community as can_moderate_community %}
    {% if comment.is_flagged and can_moderate_community %}
    <div class="toast toast-info text-center mb-2">
      <a href="{{ comment.get_absolute_url }}">{% trans "This comment has been flagged" %}</a>
    </div>
    {% endif %}

    <div class="card-title h6">
      {% url 'users:comments' comment.owner.username as owner_url %}
      {% include "activities/includes/timesince.html" with profile_url=owner_url timestamp=comment.created owner=comment.owner %}
    </div>
  </div>
  {% if comment.is_blocked %}
  <div class="card-body"
       data-controller="toggle">
    <strong>{% trans "You have blocked this user." %}</strong>
    <div class="markdown-content d-hide"
         data-target="toggle.togglable"
         data-toggle-target="blocked-comment">
      {{ comment.content.markdown|strip_external_images:user }}
    </div>
    <div class="actions">
      <a href="#"
         data-target="toggle.togglable"
         data-toggle-target="blocked-comment"
         data-action="toggle#toggle">{% trans "View Comment" %}</a>
    </div>
  </div>
  {% else %}
  <div class="card-body">
    {% if comment.deleted %}
    <p>{% blocktrans %}This comment has been deleted by a community moderator{% endblocktrans %}</p>
    {% endif %}
    {% if not comment.deleted or comment.owner == user %}
    {% collapsable is_detail %}
    <div class="markdown-content mt-1">
      {{ comment.content.markdown|strip_external_images:user }}
    </div>
    {% endcollapsable %}
    {% endif %}
  </div>
  <div class="card-footer">
    {% if comment.num_likes and comment.owner == user %}
    <div class="info">
      {{ comment.num_likes }}
      {% blocktrans count counter=comment.num_likes %}
      Like
      {% plural %}
      Likes
      {% endblocktrans %}
    </div>
    {% endif %}

    {% if comment.edited %}
    <div class="info">
      {% blocktrans with edited=comment.edited|timesince %}Updated {{ edited }} ago{% endblocktrans %}
    </div>
    {% endif %}
    <div class="d-flex align-center mt-1">
      <div class="dropdown mr-2"
           data-controller="toggle">
        <a class="btn btn-sm dropdown-toggle"
           tabindex="0">
          {% trans "Actions" %}<i class="icon icon-caret"></i>
        </a>
        <ul class="menu">
          {% has_perm "comments.like_comment" user comment as can_like_comment %}
          {% if can_like_comment %}
          <li class="menu-item">
            <a href="{% url 'comments:like' comment.id %}"
               {% if comment.has_liked %}
               class="d-hide"
               data-js-toggle-ignore
               {% endif %}
               data-controller="js-toggle ajax"
               data-target="toggle.togglable"
               data-toggle-target="like"
               data-ajax-redirect="none"
               data-action="ajax#post toggle#toggle">{% trans "Like" %}</a>
            <a href="{% url 'comments:dislike' comment.id %}"
               {% if not comment.has_liked %}
               class="d-hide"
               data-js-toggle-ignore
               {% endif %}
               data-controller="js-toggle ajax"
               data-target="toggle.togglable"
               data-toggle-target="like"
               data-ajax-redirect="none"
               data-action="ajax#post toggle#toggle"><s>{% trans "Like" %}</s></a>
          </li>
          {% endif %}

          {% has_perm "comments.bookmark_comment" user comment as can_bookmark_comment %}
          {% if can_bookmark_comment %}
          <li class="menu-item">
            <a href="{% url 'comments:bookmark' comment.id %}"
               {% if comment.has_bookmarked %}
               class="d-hide"
               data-js-toggle-ignore
               {% endif %}
               data-controller="js-toggle ajax"
               data-target="toggle.togglable"
               data-toggle-target="bookmark"
               data-ajax-redirect="none"
               data-action="ajax#post toggle#toggle">{% trans "Bookmark" %}</a>
            <a href="{% url 'comments:remove_bookmark' comment.id %}"
               {% if not comment.has_bookmarked %}
               class="d-hide"
               data-js-toggle-ignore
               {% endif %}
               data-controller="js-toggle ajax"
               data-target="toggle.togglable"
               data-toggle-target="bookmark"
               data-ajax-redirect="none"
               data-action="ajax#post toggle#toggle"><s>{% trans "Bookmark" %}</s></a>
          </li>
          {% endif %}

          {% has_perm "comments.reply_to_comment" user comment as can_reply %}
          {% if can_reply %}
          <li class="menu-item">
            <a href="{% url 'comments:reply' comment.id %}">{% trans "Reply" %}</a>
          </li>
          {% endif %}

          {% has_perm "comments.flag_comment" user comment as can_flag_comment %}
          {% if can_flag_comment and not comment.has_flagged %}
          <li class="menu-item">
            <a href="{% url 'comments:flag' comment.id %}">
              {% trans "Flag" %}
            </a>
          </li>
          {% endif %}
          {% has_perm "comments.change_comment" user comment as can_change_comment %}

          {% if can_change_comment %}
          <li class="menu-item">
            <a href="{% url 'comments:update' comment.id %}">
              {% trans "Edit" %}
            </a>
          </li>
          {% endif %}
          {% has_perm "comments.delete_comment" user comment as can_delete_comment %}
          {% if can_delete_comment %}
          <li class="menu-item">
            <a href="{% url 'comments:delete' comment.id %}"
               data-controller="ajax confirm"
               data-action="confirm#check ajax#post"
               {% if not is_detail %}
               data-ajax-redirect="{{ request.get_full_path }}"
               {% endif %}
               data-confirm-header="{% trans 'Delete Comment' %}"
               data-confirm-body="{% trans 'Are you sure you want to delete this comment?' %}">
              {% trans "Delete" %}
            </a>
          </li>
          {% endif %}

        </ul>
      </div>
      <div class="actions">
        {% if not is_detail and not comment.deleted %}
        <a href="{{ comment.get_absolute_url }}">{% trans "Link" %}</a>
        {% endif %}
        {% with parent=comment.parent %}
        {% if parent and not parent.deleted and comment.is_parent_owner_member and not is_reply %}
        <a {% spaceless %}
           {% if is_thread %}
           href="#comment-{{ parent.id }}"
           data-turbolinks="false"
           {% else %}
           href="{{ parent.get_absolute_url }}"
           {% endif %}
           {% endspaceless %}>{% trans "Parent" %}</a>
        {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  {% endif %}
</article>
