<h4><a href="{{ response.url }}">{{ response.title|safe }}</a></h4>
<h5>{{ response.provider_name }}</h5>
{% if response.thumbnail_url %}
<img src="{{ response.thumbnail_url }}" height="{{ response.thumbnail_height }}" width="{{ response.thumbnail_width }}">
{% endif %}
<blockquote>
{{ response.body|linebreaksbr }}
</blockquote>

