{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "emails/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}

{% user_display join_request.sender as sender %}

<p>
  {% trans "Hi," %}
</p>

<p>
  <a href="{{ detail_url }}">
  {% if sender %}
  {% blocktrans %}
  {{ sender }} has requested to join this community.
  {% endblocktrans %}
  {% else %}
  {% blocktrans with email=join_request.email %}
  You have received a request from {{ email }} to join this community.
  {% endblocktrans %}
  {% endif %}
  </a>
</p>

<p>
  <a href="{{ list_url }}">{% trans "Review all requests" %}</a>
</p>

{% endblock %}
