{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load activities_tags %}


{% block subtitle %} / {% verbose_name_plural model %} / {{ object.title }}{% endblock %}

{% block content %}

<ul class="breadcrumb">
  {% if object.published %}
  <li class="breadcrumb-item"><a href="{% resolve_model_url model "list" %}">{% verbose_name_plural model %}</a></li>
  {% else %}
  <li class="breadcrumb-item"><a href="{% url 'activities:drafts' %}">{% trans "Drafts" %}</a></li>
  {% endif %}
  <li class="breadcrumb-item"><a href="#">{{ object.title|truncatechars:60 }}</a></li>
</ul>

{% if object.deleted %}
<p class="toast text-center my-2">
  {% blocktrans %}
  This post has been removed by a community moderator.
  {% endblocktrans %}
</p>
{% elif not object.published %}
<p class="toast text-center my-2">
  {% blocktrans with update_url=object.get_update_url %}
  This post is currently in <b>Draft</b> and is only available to you.
  Click the <b>Publish</b> button below to make the post public.
  {% endblocktrans %}
</p>
{% endif %}

{% block activities_detail_content %}{% endblock %}
{% include "flags/includes/flags.html" %}
<div class="comments mt-2"
     id="comments">
  {% if comments %}
  <div class="divider text-center"
       data-content="{% trans 'Comments' %}"></div>
  {% endif %}
  {% for comment in comments %}
  <div class="mb-2">
    {% include "comments/includes/comment.html" with is_thread=True %}
  </div>
  {% endfor %}
  {% if comment_form %}
  {% resolve_url object "comment" as comment_url %}
  {% include "includes/forms/stimulusjs_form.html" with action=comment_url form=comment_form form_id="comment-form" %}
  {% elif not object.allow_comments %}
  <p class="toast text-center my-2">{% trans "Comments are locked" %}</p>
  {% elif not user.is_authenticated %}
  <p class="toast text-center my-2">
    {% url 'account_login' as login_url %}
    {% blocktrans with next_url=request.path %}Please <a href="{{ login_url }}?next={{ next_url }}">sign in</a> to post
    comments.{% endblocktrans %}
  </p>
  {% elif object.published %}
  <p class="toast text-center my-2">
    {% trans "You do not have permission to post comments on this site." %}
  </p>
  {% endif %}
</div>
{% endblock content %}
