{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load activities_tags %}

{% block subtitle %} / {% verbose_name_plural model %} / {% if object %}{{ object.title }} / {% trans "Edit" %}
{% else %}{% trans "Submit" %}{% endif %}{% endblock %}

{% block content %}
<ul class="breadcrumb">
  {% if object %}
  {% if object.published %}
  <li class="breadcrumb-item"><a href="{% resolve_model_url model "list" %}">{% verbose_name_plural model %}</a></li>
  {% else %}
  <li class="breadcrumb-item"><a href="{% url 'activities:drafts' %}">{% trans "Drafts" %}</a></li>
  {% endif %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.title|truncatechars:60 }}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Edit" %}</a></li>
  {% else %}
  <li class="breadcrumb-item"><a href="{% resolve_model_url model "list" %}">{% verbose_name_plural model %}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Submit" %}</a></li>
  {% endif %}
</ul>

{% block form %}
{% include "activities/includes/activity_form.html" with multipart=True %}
{% endblock %}

{% endblock content %}
