{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load rules %}
{% load activities_tags %}
{% load notifications_tags %}
{% load users_tags %}

{% block subtitle %} / {% trans "Activities" %} {% endblock %}

{% block content %}

{% if page_obj.number == 1 %}

{% if latest_notification %}
{% notification latest_notification %}
<div class="toast toast-primary text-center my-2">
  {{ notification_content }}
  <button class="btn btn-clear float-right d-hide"
          data-controller="ajax js-toggle"
          data-action="ajax#post"
          data-ajax-redirect="{{ request.get_full_path }}"
          data-ajax-url="{% url 'notifications:mark_all_read' %}"></button>
</div>
{% endnotification %}
{% endif %}

{% include "activities/includes/pinned.html" with css_class="my-2" %}

{% has_perm "activities.create_activity" user community as can_create_activity %}

{% if can_create_activity %}
<div class="d-hide"
     data-controller="js-toggle">
  <div class="mb-2">
    <div class="input-group">
      <span class="input-group-addon">
        {% avatar user %}
      </span>
      <input type="text"
             class="form-input conversation-input"
             data-controller="linkify"
             data-action="focus->linkify#go"
             data-linkify-url="{% url 'posts:create' %}"
             placeholder="{% trans "What's on your mind?" %}">
    </div>
  </div>
  <div class="actions">
    <a href="{% url 'events:create' %}">{% trans "Submit Event" %}</a>
    <a href="{% url 'photos:create' %}">{% trans "Submit Photo" %}</a>
    <a href="{% url 'polls:create' %}">{% trans "Submit Poll" %}</a>
  </div>
</div>
{% endif %}

{% if not user.show_embedded_content %}
<div class="toast text-center my-2 d-hide"
     data-controller="cookie-notice"
     data-cookie-notice-name="embedded-content">
  <button class="btn btn-clear float-right"
          data-action="cookie-notice#accept"></button>
  {% url "user_update" as user_update_url %}
  {% blocktrans %}
  You can view embedded content in your feed, for example YouTube videos, by checking the <b>Show embedded content</b>
  option in your
  <a href="{{ user_update_url }}">user settings</a>.
  {% endblocktrans %}
</div>
{% endif %}

{% elif page_obj.paginator.num_pages > 1 %}
{% include "includes/pagination.html" %}
{% endif %}

{% include "activities/includes/activity_list.html" %}
{% endblock content %}
