{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "notifications/emails/base.html" %}
{% load i18n %}

{% block notification_body %}
<p>
    {% blocktrans %}
    {{ actor_display }} has removed your <a href="{{ absolute_url }}">{{ object_name }}</a>:
    {% endblocktrans %}
</p>
<p>
    {{ object }}
</p>
<p>
    {% blocktrans %}
    You can still view your {{ object_name }} and delete it completely.
    {% endblocktrans %}
</p>

{% endblock notification_body %}