{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% trans "Error" %}</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control"
        content="no-cache">
  <link rel="shortcut icon"
        type="image/x-icon"
        href="{% static 'favicon.ico' %}">
  <link rel="stylesheet"
        href="{% static 'dist/main.css' %}">
  <script defer
          src="{% static 'dist/main.js' %}"></script>
</head>

<body class="bg-dark text-dark">
  <div class="container">
    <header class="navbar px-2 py-2 my-2">
      <section class="navbar-section">
        <a class="navbar-brand mr-2"
           href="/">{% trans "Home" %}</a>
      </section>
    </header>
    <main class="columns bg-light p-2">
      <div class="container text-center">
        {% block content %}{% endblock %}
      </div>
    </main>
    {% include "includes/footer.html" %}
  </div>
</body>

</html>