{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "includes/forms/stimulusjs_form.html" %}

{% load i18n %}

{% block form_fields %}
{% with tags=community.get_content_warning_tags|safeseq %}
{% if tags %}
<div class="toast text-center my-2 d-hide"
     data-controller="cookie-notice"
     data-cookie-notice-name="content-warning-tags-activity-form">
  <button class="btn btn-clear float-right"
          data-action="cookie-notice#accept"></button>
  {% blocktrans with first_tag=tags|first count counter=tags|length %}
  If you add the tag <b>#{{ first_tag }}</b>
  {% plural %}
  If you add the tags
  {% endblocktrans %}

  {% if tags|length > 1 %}
  {% for tag in tags %}
  {% if forloop.last %}{% trans "or" %}{% elif not forloop.first %}, {% endif %} <b>#{{ tag }}</b> {% endfor %}
  {% endif %}

  {% blocktrans %}to the title or description, the content will be
  obscured by default in people's feeds.{% endblocktrans %}
</div>
{% endif %}
{% endwith %}
{{ block.super }}
{% endblock form_fields %}
{% block form_buttons %}
{% if object.published %}
<button type="submit"
        name="submit"
        class="btn btn-primary">
  {% trans "Update" %}
</button>
{% else %}
<button type="submit"
        name="submit"
        class="btn btn-primary"
        {% if object.id %}
        data-controller="confirm"
        data-action="confirm#check form#submit"
        data-confirm-header="{% trans 'Publish' %}"
        data-confirm-body="{% trans 'Are you sure you want to publish this draft?' %}"
        {% endif %}>
  {% trans "Publish" %}
</button>
<button type="submit"
        name="save_as_draft"
        value="true"
        data-action="form#submit"
        class="btn btn-secondary">
  {% trans "Save Draft" %}
</button>
{% endif %}

{% endblock form_buttons %}