{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load account %}
{% load users_tags %}
{% user_display profile as profile_name %}
<div class="chip">
  {% avatar profile "avatar-xs" %}
  <a title="{{ profile_name }}"
     href="{{ profile_url|default:profile.get_absolute_url }}">{{ profile.username }}</a>
</div>