{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% if member.member != user %}
{% if can_change or can_delete %}
<div class="actions{% if css_class %} {{ css_class }}{% endif %}">
  <a href="{% url 'private_messages:message_create' member.member.username %}">
    {% trans "Send Message" %}
  </a>
  {% if can_change %}
  <a href="{% url 'communities:membership_update' member.id %}">
    {% trans "Edit" %}
  </a>
  {% endif %}
  {% if can_delete %}
  <a href="{% url 'communities:membership_delete' member.id %}"
     class="d-hide"
     data-controller="js-toggle ajax confirm"
     data-action="confirm#check ajax#post"
     data-confirm-header="{% trans 'Delete' %}"
     data-confirm-body="{% trans 'Are you sure you want to delete this membership?' %}">{% trans "Delete" %}</a>
  {% endif %}
</div>
{% endif %}
{% endif %}