{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "comments/base.html" %}

{% load i18n %}
{% load activities_tags %}

{% block subtitle %}{{ block.super }} /
{% if parent %}{{ parent.content_object }} / {% trans "Reply "%}
{% elif object %}{{ object.content_object }} / {% trans "Edit" %}
{% elif activity %}{{ activity }} / {% trans "Comment" %}{% endif %}{% endblock %}

{% block content %}

<ul class="breadcrumb">
  {% if parent %}
  <li class="breadcrumb-item"><a href="{% url 'comments:list' %}">{% trans "Comments" %}</a></li>
  <li class="breadcrumb-item"><a href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Reply" %}</a></li>
  {% elif object %}
  <li class="breadcrumb-item"><a href="{% url 'comments:list' %}">{% trans "Comments" %}</a></li>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{% trans "Edit" %}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Edit" %}</a></li>
  {% elif activity and activity_model %}
  <li class="breadcrumb-item">
    <a href="{% resolve_model_url activity_model "list" %}">{% verbose_name_plural activity_model %}</a>
  </li>
  <li class="breadcrumb-item"><a href="{{ activity.get_absolute_url }}">{{ activity|truncatechars:60 }}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Submit" %}</a></li>
  {% endif %}
</ul>


{% if parent %}

<article class="card mb-2"
         role="comment">
  <div class="card-header">
    <div class="card-subtitle h6">
      {% url 'users:comments' parent.owner.username as owner_url %}
      {% include "activities/includes/timesince.html" with profile_url=owner_url timestamp=parent.created owner=parent.owner %}
    </div>
  </div>
  <div class="card-body">
    {% collapsable is_detail %}
    <div class="markdown-content">
      {{ parent.content.markdown|strip_external_images:user }}
    </div>
    {% endcollapsable %}
  </div>
</article>

{% endif %}

{% include "includes/forms/stimulusjs_form.html" %}

{% endblock content %}
