{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "comments/base.html" %}
{% load i18n %}

{% block subtitle %}{{ block.super }} / {{ comment.content_object }}{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'comments:list' %}">{% trans "Comments" %}</a></li>
  <li class="breadcrumb-item">
    <a href="{{ comment.content_object.get_absolute_url }}">{{ object.content_object|truncatechars:60 }}</a>
  </li>
  {% if comment.parent and not comment.parent.deleted %}
  <li class="breadcrumb-item">
    <a href="{{ comment.parent.get_absolute_url }}">{% trans "Parent" %}</a>
  </li>
  {% endif %}
  <li class="breadcrumb-item"><a href="#">{% trans "Comment" %}</a></li>
</ul>


{% if comment.parent and comment.parent.deleted %}
<p class="toast text-center my-2">
  {% blocktrans %}
  Parent comment has been deleted by a community moderator.
  {% endblocktrans %}
</p>
{% endif %}
{% include "comments/includes/comment.html" with is_detail=True %}
{% include "flags/includes/flags.html" %}

{% if replies %}
<div class="divider text-center"
     data-content="{% trans 'Replies' %}"></div>
{% for reply in replies %}
<div class="mb-2">
  {% include "comments/includes/comment.html" with comment=reply is_reply=True %}
</div>
{% endfor %}
{% endif %}

{% endblock content %}
