{% extends "activities/base.html" %}
{% load i18n %}
{% load rules %}

{% block subtitle %} / {% trans "Photos" %} {% endblock %}

{% block content %}

<h5>{% trans "Photos" %}</h5>
<div class="actions mb-1">
  {% has_perm 'activities.create_activity' user community as can_create_activity %}
  {% if can_create_activity %}
  <a href="{% url 'photos:create' %}">
    {% trans "Submit Photo" %}
  </a>
  {% endif %}
  <a href="{% url 'posts:list' %}">{% trans "Posts" %}</a>
  <a href="{% url 'events:list' %}">{% trans "Events" %}</a>
  <a href="{% url 'polls:list' %}">{% trans "Polls" %}</a>
</div>

{% if paginator.count or view.search_query %}
{% include "includes/forms/search_form.html" with selector=True %}
{% endif %}

{% for object in object_list %}
<div class="activity-list-item">
  {% include "photos/includes/photo.html" with object_type="photo" %}
</div>
{% empty %}
{% include "includes/empty.html" %}
{% endfor %}
{% include "includes/pagination.html" %}
{% endblock content %}
