{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "private_messages/base.html" %}

{% load i18n %}
{% load account %}

{% block subtitle %} / {% user_display recipient %} / {{ parent|yesno:_("Reply,Send Message") }} {% endblock %}

{% block content %}

<ul class="breadcrumb">
  {% if parent %}
  <li class="breadcrumb-item"><a href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a></li>
  <li class="breadcrumb-item">
    <a href="#">
      {% if parent.sender == user %}{% trans "Follow-Up" %}{% else %}{% trans "Reply" %}{% endif %}
    </a>
  </li>
  {% else %}
  <li class="breadcrumb-item"><a href="{{ recipient.get_absolute_url }}">{% user_display recipient %}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Send Message" %}</a></li>
  {% endif %}
</ul>


<h5>{% trans "Messages" %}</h5>

{% include "includes/forms/stimulusjs_form.html" %}

{% endblock %}
