{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load socialaccount %}

{% providers_media_js %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<p>
  {% trans "Login or signup through" %}
  {% for provider in socialaccount_providers %}
  <a href="{% provider_login_url provider.id process="login" next="/" %}">{{ provider.name }}</a>
  {% endfor %}
</p>
{% endif %}
