{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/user_detail_base.html" %}
{% load i18n %}

{% block subtitle %}{{ block.super }} / {% trans "Activities" %}{% endblock %}

{% block user_content %}

{% if paginator.count %}
<div class="mt-2 toast text-center">

  {% if is_current_user %}

  {% blocktrans count counter=paginator.count %}
  You have published <strong>1 activity</strong>
  {% plural %}
  You have published <strong>{{ counter }} activities</strong>
  {% endblocktrans %}
  {% if num_likes %}
  {% blocktrans count counter=num_likes %}
  and have received <strong>1 like</strong> for your activities.
  {% plural %}
  and have received <strong>{{ counter }} likes</strong> for your activities.
  {% endblocktrans %}
  {% else %}
  and have not received any likes for your activities.
  {% endif %}

  {% else %}
  {% blocktrans count counter=paginator.count %}
  {{ display_name }} has published <strong>1 activity</strong>
  {% plural %}
  {{ display_name }} has published <strong>{{ counter }} activities</strong>
  {% endblocktrans %}
  {% if num_likes %}
  {% blocktrans count counter=num_likes %}
  and has received <strong>1 like</strong> for their activities.
  {% plural %}
  and has received <strong>{{ counter }} likes</strong> for their activities.
  {% endblocktrans %}
  {% else %}
  and has not received any likes for their activities.
  {% endif %}
  {% endif %}
</div>
{% endif %}

{% if is_current_user %}
{% trans "You have not published any activities." as t_empty_message %}
{% else %}
{% blocktrans asvar t_empty_message trimmed %}
{{ display_name }} has not published any activities.
{% endblocktrans %}
{% endif %}

{% include "activities/includes/activity_list.html" with empty_message=t_empty_message %}

{% endblock user_content %}
