{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/account_base.html" %}
{% load i18n %}

{% block content %}
<h5>{% trans "Delete Account" %}</h5>

<div class="actions mb-1">
  <a href="{% url 'user_update' %}">{% trans "Settings" %}</a>
</div>

<form method="POST"
      action="{% url 'user_delete' %}">
  {% csrf_token %}
  <p>
    {% blocktrans %}
    Please confirm you want to delete your account. This will also <b>permanently</b> remove all your posts and
    comments.
    {% endblocktrans %}
  </p>
  <a class="btn btn-secondary"
     href="{{ user.get_absolute_url }}">{% trans "Cancel" %}</a>
  <button class="btn btn-primary"
          type="submit">{% trans "Delete account" %}</button>
</form>

{% endblock content %}