{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/tags/base.html" %}
{% load i18n %}
{% load rules %}


{% block content %}

<h5>{% trans "Tags" %}</h5>

{% has_perm "users.follow_tag" user as can_follow_tag %}
{% has_perm "users.block_tag" user as can_block_tag %}

{% if can_follow_tag or can_block_tag %}
<ul class="tab tab-block">
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'activities:tag_list' %}">{% trans "All" %}</a>
  </li>
  {% if can_follow_tag %}
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'activities:following_tag_list' %}">{% trans "Following" %}</a>
  </li>
  {% endif %}
  {% if can_block_tag %}
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'activities:blocked_tag_list' %}">{% trans "Blocked" %}</a>
  </li>
  {% endif %}
</ul>
{% endif %}

{% block tag_list %}
{% if object_list %}
{% with blocked=user.blocked_tags.all following=user.following_tags.all %}
<table class="table table-hover table-responsive">
  <tbody>
    {% for tag in object_list %}
    <tr>
      <td>
        <a href="{% url 'activities:tag_detail' tag.slug %}">
          #{{ tag.name }}
        </a>
        {% if tag.name.lower in content_warnings %}
        <span class="chip bg-primary">{% trans "Sensitive" %}</span>
        {% endif %}
      </td>
      {% if can_follow_tag or can_block_tag %}
      <td class="d-hide"
          data-controller="js-toggle">
        <div class="float-right-responsive actions"
             data-controller="js-toggle toggle">
          {% if can_follow_tag %}
          <a href="{% url 'activities:tag_unfollow' tag.id %}"
             {% if not tag in following %}
             class="d-hide"
             data-js-toggle-ignore
             {% endif %}
             data-controller="ajax"
             data-ajax-redirect="none"
             data-target="toggle.togglable"
             data-toggle-target="follow"
             data-action="ajax#post toggle#toggle">
            <s>{% trans "Follow" %}</s>
          </a>
          <a href="{% url 'activities:tag_follow' tag.id %}"
             {% if tag in following %}
             class="d-hide"
             data-js-toggle-ignore
             {% endif %}
             data-controller="ajax"
             data-ajax-redirect="none"
             data-target="toggle.togglable"
             data-toggle-target="follow"
             data-action="ajax#post toggle#toggle">
            {% trans "Follow" %}
          </a>
          {% endif %}
          {% if can_block_tag %}
          <a href="{% url 'activities:tag_unblock' tag.id %}"
             {% if not tag in blocked %}
             class="d-hide"
             data-js-toggle-ignore
             {% endif %}
             data-controller="ajax"
             data-ajax-redirect="none"
             data-target="toggle.togglable"
             data-toggle-target="block"
             data-action="ajax#post toggle#toggle">
            <s>{% trans "Block" %}</s>
          </a>
          <a href="{% url 'activities:tag_block' tag.id %}"
             {% if tag in blocked %}
             class="d-hide"
             data-js-toggle-ignore
             {% endif %}
             data-controller="ajax"
             data-ajax-redirect="none"
             data-target="toggle.togglable"
             data-toggle-target="block"
             data-action="ajax#post toggle#toggle">
            {% trans "Block" %}
          </a>
          {% endif %}
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock tag_list %}

{% endblock content %}
