{# Copyright (c) 2019 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/tags/base.html" %}
{% load i18n %}
{% load rules %}

{% block subtitle %}{{ block.super }} / #{{ tag.name }}{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'activities:tag_list' %}">{% trans "Tags" %}</a></li>
  <li class="breadcrumb-item"><a href="#">{{ tag.name }}</a></li>
</ul>

{% has_perm "users.follow_tag" user as can_follow_tag %}
{% has_perm "users.block_tag" user as can_block_tag %}

{% if can_follow_tag or can_block_tag %}
<div class="actions d-hide"
     data-controller="js-toggle toggle">
  {% if can_follow_tag %}
  {% with following=user.following_tags.all %}
  <a href="{% url 'activities:tag_unfollow' tag.id %}"
     {% if not tag in following %}
     class="d-hide"
     {% endif %}
     data-controller="ajax"
     data-ajax-redirect="none"
     data-target="toggle.togglable"
     data-toggle-target="follow"
     data-action="ajax#post toggle#toggle">
    <s>{% trans "Follow" %}</s>
  </a>
  <a href="{% url 'activities:tag_follow' tag.id %}"
     {% if tag in following %}
     class="d-hide"
     {% endif %}
     data-controller="ajax"
     data-ajax-redirect="none"
     data-target="toggle.togglable"
     data-toggle-target="follow"
     data-action="ajax#post toggle#toggle">
    {% trans "Follow" %}
  </a>
  {% endwith %}
  {% endif %}
  {% if can_block_tag %}
  {% with blocked=user.blocked_tags.all %}
  <a href="{% url 'activities:tag_unblock' tag.id %}"
     {% if tag not in blocked %}
     class="d-hide"
     {% endif %}
     data-controller="ajax"
     data-ajax-redirect="none"
     data-target="toggle.togglable"
     data-toggle-target="block"
     data-action="ajax#post toggle#toggle">
    <s>{% trans "Block" %}</s>
  </a>
  <a href="{% url 'activities:tag_block' tag.id %}"
     {% if tag in blocked %}
     class="d-hide"
     {% endif %}
     data-controller="ajax"
     data-ajax-redirect="none"
     data-target="toggle.togglable"
     data-toggle-target="block"
     data-action="ajax#post toggle#toggle">
    {% trans "Block" %}
  </a>
  {% endwith %}
  {% endif %}
</div>
{% endif %}

{% with total=paginator.count %}
{% if total %}
<div class="toast text-center my-2">
  {% blocktrans with name=tag.name count counter=total %}
  <strong>One activity</strong> has been tagged with <strong>#{{ name }}</strong>.
  {% plural %}
  <strong>{{ total }} activities</strong> have been tagged with <strong>#{{ name }}</strong>.
  {% endblocktrans %}
</div>
{% endif %}
{% endwith %}

{% include "activities/includes/activity_list.html" %}
{% endblock content %}
